/*--------------------------------------------------
----------------------- Custom Style ----------------
---------------------------------------------------*/
.serviceimage {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 2px solid #eee;
  margin-top: 4px;
  padding: 2px;
}


/*--------------------------------------------------
----------------------- Base styles ----------------
---------------------------------------------------*/

body {
    font-family: 'Raleway', Calibri, Arial, sans-serif;
    background: #E4E4E8;
    font-weight: 400;
    font-size: 12px;
    color: #606777;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

*:focus {
    outline: none;
}

a {
    color: #788195;
    text-decoration: none !important;
}

a:active {
    color: red;
    text-decoration: none;
}

.hs-content-scroller {
    position: absolute;
    left: 290px;
    right: 0px;
    overflow: hidden;
    height: 100%;
}

.hs-content-wrapper {
    width: 4010px;
    position: absolute;
    overflow: hidden;
    height: 100%;
    height: -moz-calc(100% - 47px);
    height: -webkit-calc(100% - 47px);
    height: calc(100% - 47px);
}

.hs-content {
    width: 490px;
    overflow-y: scroll;
    height: 100%;
    height: calc(100% - 23px);
    height: -moz-calc(100% - 23px);
    height: -webkit-calc(100% - 23px);
    float: left;
    background: #f2f2f4;
    margin: 10px 0 10px 10px;
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    transition: background 0.3s linear;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
}

.hs-content .sec-icon {
    font-size: 21px;
    width: 40px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #21252d;
    color: #858EA1;
    position: relative;
    left: -5px;
    top: 7px;
    float: right;
}

.hs-content .active-sec {
    color: #fff;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.hs-content:hover .jspVerticalBar,
.hs-menu nav:hover .jspVerticalBar {
    opacity: 1;
}

.hs-inner {
    padding: 10px 20px 10px 20px;
}

.hs-inner p {
    font-size: 13px;
    line-height: 24px;
    text-align: justify;
    position: relative;
}

a.hs-totop-link {
    display: none;
    content: 'Scroll to top';
    position: fixed;
    z-index: 999;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    text-align: center;
}

.hs-inner h2 {
    padding: 0 0 14px 0;
    margin-bottom: 16px;
    margin-top: 4px;
    font-size: 17px;
    font-family: Montserrat;
    letter-spacing: 2px;
    color: #606777;
    position: relative;
}

.hs-inner h2:after {
    position: absolute;
    width: 16px;
    height: 2px;
    top: 31px;
    left: 0;
    font-family: serif;
    content: " ";
}

.hs-inner .before-title {
    font-family: Montserrat;
    /* font-weight: 400; */
    
    margin-top: 30px;
    font-size: 12px;
    display: inline-block;
}

.content-title {
    padding: 9px 9px 9px 0;
    display: inline-block;
    color: #606777;
    font-size: 12px;
    font-family: Montserrat;
    position: relative;
}

.content-title:after {
    border-bottom: 2px solid;
    border-right: 2px solid;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
}

#my-panel {
    display: none;
    width: 50px;
    color: #878e98;
    overflow: auto;
    border-right: 1px solid rgba(255, 253, 253, 0.32);
    z-index: 99 !important;
    background: #2b303b;
}
/*--------------------------------------------------
----------------------- Sidbar ---------------------
---------------------------------------------------*/

.hs-headline {
    text-align: center;
    padding: 42px 0 0 0;
}

.hs-headline .download {
    display: none;
}

.hs-headline .img-wrap {
    display: block;
    width: 150px;
    height: 150px;
    border: 5px solid rgba(120, 129, 149, 0.19);
    margin: auto;
}

.hs-headline .img-wrap img {
    width: 140px;
    height: 140px;
    padding: 5px;
    opacity: 0.5;
}

.hs-headline .profile_info {
    margin-top: 10px;
}

.hs-headline .profile_info h1 {
    font-size: 19px;
    line-height: 30px;
    text-align: center;
    font-weight: 300;
    margin: 0px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hs-headline .profile_info h4 {
    text-align: center;
    font-size: 13px;
    margin: 10px 0;
    font-weight: 300;
}

.hs-headline .profile_info h6 {
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    margin: 7px 0;
}

.hs-headline .profile_info h6 .fa {
    font-size: 17px;
}

.hs-menu {
    position: fixed;
    z-index: 999;
    color: #788195;
    width: 240px;
    left: 50px;
    top: 0px;
    height: 100%;
    background: #2b303b;
}

.hs-menu .jspDrag {
    background: #8A97A8;
}

.hs-menu .menu_head {
    width: 100%;
    height: 50px;
    background: #252831;
    display: table;
}

.hs-menu nav {
    position: absolute;
    top: 318px;
    left: 0px;
    right: 0px;
    bottom: 40px;
    margin-top: 7px;
}

.hs-menu nav .active-sec .menu_name {
    color: #fff;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.hs-menu nav .active-sec .fa {
    color: #fff;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.hs-menu nav a {
    display: block;
    padding: 3px 25px;
    outline: none;
    width: 240px;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.hs-menu nav a:hover {
    color: #fff;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.hs-menu nav a:hover .fa {
    background: #788195;
    color: #2b303b;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.hs-menu nav a .menu_name {
    font-size: 13px;
    font-weight: 400;
    line-height: 40px;
    font-family: Montserrat;
}

.hs-menu nav a .fa {
    font-size: 21px;
    width: 40px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #21252d;
    color: #788195;
    position: relative;
    left: 0;
    float: right;
}

.hs-menu .separator-aside {
    display: block;
    border-top: 1px solid #606777;
    height: 0;
    margin: 25px 0;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    opacity: 0.4;
}

.hs-menu .aside-footer {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    line-height: 44px;
    text-align: center;
    background: #262A34;
}

.hs-menu .aside-footer a {
    width: 25px;
    height: 25px;
    line-height: 26px;
    padding: 0;
    text-align: center;
    font-size: 14px;
    margin: 0 2px;
    background: #2b303b;
    display: inline-block;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.hs-menu .aside-footer a:hover {
    color: #fff;
}

.aside1 {
    width: 50px;
    height: 100%;
    display: block;
    position: fixed;
    background: rgba(43, 48, 59, 0.96);
    z-index: 999;
    padding: 8px 0;
    text-align: center;
}

.aside1 .aside-content {
    width: 500px;
    height: 50px;
    position: absolute;
    left: -225px;
    bottom: 235px;
    line-height: 50px;
    text-align: left;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.aside1 a {
    width: 34px;
    height: 34px;
    display: inline-block;
    line-height: 34px;
    text-align: center;
    background: rgba(33, 37, 45, 0.73);
    margin-bottom: 8px;
    font-size: 17px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.aside1 a:hover {
    color: rgba(33, 37, 45, 0.73);
}

.aside1 .aside-content .part1 {
    font-family: Montserrat;
    margin-right: 7px;
    font-size: 19px;
}

.aside1 .aside-content .part2 {
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #788195;
}
/*--------------------------------------------------
----------------------- Header ---------------------
---------------------------------------------------*/

#header_container {
    height: 50px;
    left: 0;
    width: 100%;
    top: 0;
}

#header {
    line-height: 50px;
    margin: 0 auto;
    width: 100%;
    background: #f2f2f4;
    padding-left: 290px;
    position: fixed;
    z-index: 998;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    right: 0;
}

#header .home,
#header .previous-page,
#header .next-page {
    border-right: 1px solid #DFDFDF;
    height: 50px;
    width: 50px;
    float: left;
    cursor: pointer;
    background: rgba(248, 249, 251, 0.6);
}

#header .header_download {
    border-left: 1px solid #DFDFDF;
    height: 50px;
    width: 50px;
    float: right;
    cursor: pointer;
}

#header a {
    font-size: 20px;
    line-height: 50px;
    height: 50px;
    width: 50px;
    text-align: center;
    display: inline-block;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

#header .arrow {
    font-size: 27px
}

#header a:hover {
    color: #707B8B;
}

#my-link {
    display: none;
}

#header .news-scroll {
    height: 50px;
    line-height: 50px;
}

#header .news-scroll span {
    font-family: Montserrat;
    padding-left: 15px;
    padding-right: 10px;
    float: left;
}

#header .news-scroll span .fa {
    padding-right: 10px;
}

ul.marquee {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1;
    position: relative;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    margin-right: 22px;
}

ul.marquee li {
    position: absolute;
    top: -999em;
    left: 0;
    display: block;
    white-space: nowrap;
}
/*--------------------------------------------------
----------------------- About ---------------------
---------------------------------------------------*/

.about-section .signature {
    float: right;
    margin-bottom: 50px;
}

.about-section .aboutInfo-contanier {
    height: 100%;
    margin: 10px 0;
    position: relative;
}

.about-section .aboutInfo-contanier .about-cover {
    background: linear-gradient(rgba(43, 48, 59, 0.75), rgba(43, 48, 59, 0.75)), url(../images/cover.jpg) no-repeat;
    background: -webkit-linear-gradient(rgba(43, 48, 59, 0.75), rgba(43, 48, 59, 0.75)), url(../images/cover.jpg) no-repeat;
    background-size: 100%;
    height: 265px;
    position: relative;
}

.about-section .aboutInfo-contanier .map-location {
    position: absolute;
    right: 10px;
    top: 10px;
    background: rgba(0, 0, 0, 0.27);
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.about-section .aboutInfo-contanier .map-location img {
    opacity: .60;
    height: 40px;
    width: 40px;
}

.my-location {
    position: relative;
    width: 90%;
    height: 500px;
    margin: 20px auto;
}

#map {
    height: 100%;
    width: 100%;
}

.about-section .about-cover .about-details {
    height: 50px;
    line-height: 50px;
    padding: 10px;
    position: absolute;
    left: 0;
}

.about-section .about-cover .about-details div {
    color: rgba(255, 255, 255, 0.61);
    background: rgba(0, 0, 0, 0.27);
    height: 30px;
    line-height: 30px;
    margin-bottom: 7px;
}

.about-section .about-cover .about-details .detail {
    padding: 0 10px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    font-size: 13px;
}

.about-section .about-cover .about-details .fa {
    background: rgba(0, 0, 0, 0.27);
    color: rgba(255, 255, 255, 0.75);
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    font-size: 15px;
}

.about-section .about-cover .cover-content-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.24);
}

.about-section .about-cover .about-description {
    font-size: 13px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.53);
    display: block;
    text-transform: uppercase;
    line-height: 25px;
    padding: 10px;
    width: 100%;
}

.about-card {
    background-color: #FFF;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 265px;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.card-face.face1 {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.show-menu .card-face.face1 {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.card-face.face2 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.show-menu .card-face.face2 {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    border: 1px solid #DBDBE0;
}

.card-face {
    width: 100%;
    height: 265px;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#google-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #e7eaf0;
}

#cd-google-map {
    position: relative;
    width: 100%;
    height: 100%;
}

#cd-zoom-in,
#cd-zoom-out {
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin-left: 10px;
    background-color: #2b303b;
    background-repeat: no-repeat;
    background-size: 32px 64px;
    background-image: url("../images/gmaps/cd-icon-controller.svg");
}

.no-touch #cd-zoom-in:hover,
.no-touch #cd-zoom-out:hover {
    background-color: #d36868;
}

#cd-zoom-in {
    background-position: 50% 0;
    margin-top: 10px;
    margin-bottom: 1px;
}

#cd-zoom-out {
    background-position: 50% -32px;
}

#cd-google-map address {
    position: absolute;
    width: 100%;
    margin-bottom: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    padding-left: 60px;
    line-height: 40px;
    background-color: #F6F6F8;
    font-size: 13px;
    font-size: 0.8125rem;
    border-top: 1px solid #DBDBE0;
}

.back-cover {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 45px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    border-right: 1px solid #DBDBE0;
}

.rw-words {
    display: inline;
    text-indent: 2px;
}

.rw-words span {
    position: absolute;
    opacity: 0;
    overflow: hidden;
    width: 100%;
    -webkit-animation: rotateWord 18s linear infinite 0s;
    -ms-animation: rotateWord 18s linear infinite 0s;
    animation: rotateWord 18s linear infinite 0s;
}

.rw-words span:nth-child(2) {
    -webkit-animation-delay: 3s;
    -ms-animation-delay: 3s;
    animation-delay: 3s;
}

.rw-words span:nth-child(3) {
    -webkit-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}

.rw-words span:nth-child(4) {
    -webkit-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
}

.rw-words span:nth-child(5) {
    -webkit-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}

@-webkit-keyframes rotateWord {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
    }
    5% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
    20% {
        opacity: 0;
        -webkit-transform: translateY(30px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-ms-keyframes rotateWord {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0;
        -ms-transform: translateY(-30px);
    }
    5% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
    20% {
        opacity: 0;
        -ms-transform: translateY(30px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rotateWord {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    5% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    17% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    20% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.about-section .about-cover .status {
    width: auto;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    display: block;
    padding-left: 10px;
    background: rgba(0, 0, 0, 0.27);
    color: rgba(255, 255, 255, 0.75);
}

.about-section .about-cover .status .fa {
    margin-right: 10px;
    height: 28px;
    font-size: 10px;
    line-height: 28px;
    color: #63a924;
    text-align: center;
}

.tabbable {
    *zoom: 1;
}

.tabbable:before,
.tabbable:after {
    display: table;
    content: "";
}

.tabbable:after {
    clear: both;
}

.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tabs-left .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    border-radius: 0;
    border: none;
    color: rgba(255, 255, 255, 0.82);
    margin-right: 10px;
    height: 45px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 10px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border: none;
    opacity: 0.82;
}

.tabs-left > .nav-tabs > li.active > a,
.tabs-left > .nav-tabs > li.active > a:hover,
.tabs-left > .nav-tabs > li.active > a:focus {
    border: none;
    background: rgba(248, 249, 251, 0.6);
    border: 1px solid #DBDBE0;
    color: #606777;
}

.tabs-vertical {
    position: relative;
}

.tabs-vertical > .nav-tabs {
    position: absolute;
    display: block;
    height: 42px;
    margin: 0;
    white-space: nowrap;
    border: 0 none;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.about-section .more-details {
    margin-left: 45px;
    margin-top: 10px;
}

.about-section .tab-pane {
    padding: 10px;
    background: rgba(248, 249, 251, 0.6);
    border: 1px solid #DBDBE0;
    margin-left: 10px;
}

.about-section .tab-pane h3 {
    margin: 0;
    padding: 5px 0;
    font-size: 0.9em;
    color: #606777;
    font-family: Montserrat;
}

.about-section .tab-pane h4 {
    margin-top: 0;
    margin-bottom: 9px;
    font-size: 10px;
}

.about-section .tab-pane .hobbie-icon {
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
}

.about-section .tab-pane .hobbie-description {}

.about-section .tab-pane .hobbie-wrapper p {
    margin-top: 6px;
}

.about-section .tab-pane .facts-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.about-section .tab-pane .facts-wrapper i {
    font-size: 60px;
}

.about-section .tab-pane .facts-wrapper .facts-number {
    font-size: 30px;
}
/*--------------------------------------------------
----------------------- Resume ---------------------
---------------------------------------------------*/

.resume-section .resume {
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}

.resume-section .resume > li {
    position: relative;
    margin-bottom: 10px;
}

.resume-section .resume > li:before,
.resume-section .resume > li:after {
    display: table;
    content: " ";
}

.resume-section .resume > li:after {
    clear: both;
}

.resume-section .resume > li > .timeline-item {
    margin-top: 0px;
    background: rgba(248, 249, 251, 0.6);
    margin-left: 55px;
    padding: 10px;
    position: relative;
    border: 1px solid #DBDBE0;
}

.resume-section .resume > li > .timeline-item > .timeline-location {
    float: right;
    margin: 2px 0 0 0;
    font-weight: 400;
    border-radius: 0;
    font-size: 0.8em;
    color: #606777;
    padding: 2px 5px;
    font-family: Montserrat;
    text-transform: uppercase;
}

.resume-section .resume > li > .timeline-item > .timeline-location .fa {
    margin-right: 5px;
    font-size: 12px;
}

.resume-section .resume > li > .timeline-item > .timeline-header {
    margin: 0;
    padding: 5px 0;
    font-size: 0.9em;
    color: #606777;
    font-family: Montserrat;
}

.resume-section .resume > li > .timeline-item > .timeline-header > a {
    font-weight: 400;
}

.resume-section .resume > li > .timeline-item > .timeline-body {
    padding: 2px 0px;
}

.resume-section .resume > li > .timeline-item > .timeline-body span {
    font-size: 13px;
    line-height: 24px;
    text-align: justify;
    position: relative;
    color: #606777;
    display: inline-block;
}

.resume-section .resume > li > .resume-tag {
    width: 45px;
    height: 100%;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: rgba(255, 255, 255, 0.82);
    ;
    text-align: center;
    top: 0;
    padding: 8px;
}

.resume-section .resume > li > .resume-tag .fa {
    height: 30px;
    width: 100%;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.13);
}

.resume-section .resume .resume-date {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.13);
}

.resume-section .resume .resume-date span {
    width: 45px;
    display: block;
    font-size: 10px;
    height: 25px;
    line-height: 25px;
}

.resume-section .resume .resume-date .separator {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.82);
    height: 0;
    margin: 0 auto;
    width: 25px;
}

.resume-section .resume h4 {
    margin-top: 0;
    margin-bottom: 9px;
    font-size: 10px;
}

.resume-section .resume-wrapper {
    position: relative;
}
/*--------------------------------------------------
------------------ Publication ---------------------
---------------------------------------------------*/

.publication-section .card-drop {
    position: relative;
    -moz-perspective: 800px;
    -webkit-perspective: 800px;
    perspective: 800px;
    z-index: 999;
}

.publication-section .card-drop a {
    display: block;
    width: 100% !important;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    font-size: 11px;
    font-family: Montserrat;
    font-weight: 400;
    text-decoration: none;
    color: #606777;
    background-color: #f2f2f4;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.publication-section .card-drop > a.toggle {
    display: inline-block;
    color: #606777;
    border: 1px solid rgba(120, 129, 149, 0.33);
    font-size: 11px;
    font-family: Montserrat;
    line-height: 37px;
    position: relative;
    z-index: 300;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -moz-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    -webkit-transition: 0.1s linear;
    transition: 0.1s linear;
    background-color: #f2f2f4;
}

.publication-section .card-drop > a.toggle:active {
    -moz-transform: rotateX(60deg);
    -webkit-transform: rotateX(60deg);
    transform: rotateX(60deg);
}

.publication-section .card-drop > a.toggle.active:before {
    content: '\f0d8';
}

.publication-section .card-drop > a.toggle:before {
    font-family: 'FontAwesome';
    content: '\f0d7';
    font-size: 1.3em;
    color: rgba(120, 129, 149, 0.8);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    position: absolute;
    right: 0;
    top: 0;
    height: 39px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    display: block;
    border-left: 1px solid #D3D0D0;
    cursor: pointer;
}

.publication-section .card-drop ul {
    position: absolute;
    height: 100%;
    top: 0;
    display: block;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.publication-section .card-drop ul li {
    margin: 0 auto;
    -moz-transition: all, 0.4s ease-out;
    -o-transition: all, 0.4s ease-out;
    -webkit-transition: all, 0.4s ease-out;
    transition: all, 0.4s ease-out;
    position: absolute;
    top: 0;
    z-index: 0;
    width: 100%;
    cursor: pointer;
}

.publication-section .card-drop ul li a:hover {
    background-color: #EEEFF0;
}

.publication-section .card-drop ul li.active a {
    background-color: #EEEFF0;
    cursor: default;
}

.publication-section .card-drop ul li.closed a:hover {
    cursor: default;
    background-color: #EEEFF0;
}

.publication-section .publication-form {
    margin-top: 10px;
}

.publication-section .publication-sort {
    bottom: 2px;
}

.publication-section .sorting-button {
    width: 100%;
    float: right;
    border: 1px solid rgba(120, 129, 149, 0.33);
}

.publication-section .sorting-button button {
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    font-size: 15px;
    background: #f2f2f4;
    float: right;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 1px solid rgba(120, 129, 149, 0.33);
}

.publication-section .sorting-button span {
    height: 40px;
    line-height: 40px;
    font-family: Montserrat;
    color: #606777;
    font-size: 11px;
    padding-left: 13px;
}

.publication-section .publication-header {
    height: 50px;
    left: 0;
    width: 100%;
    top: 0;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #DBDBE0;
}

.publication-section .media {
    background: rgba(248, 249, 251, 0.8);
    padding: 10px;
    position: relative;
    border: 1px solid #DBDBE0;
}

.publication-section .media .publication_description {
    font-size: 13px;
    line-height: 24px;
    text-align: justify;
    position: relative;
    color: #606777;
    display: inline-block;
}

.publication-section .media h3 {
    margin: 0;
    padding-bottom: 7px;
    font-size: 0.9em;
    color: #606777;
    font-family: Montserrat;
}

.publication-section .media h4 {
    margin-top: 0px;
    margin-bottom: 9px;
    font-size: 10px;
}

.publication-section .media hr {
    border-color: #CED7E2;
    background-color: #CED7E2;
    color: #CED7E2;
    margin: 10px 0 !important;
}

.publication-section .media .panel {
    margin-bottom: 0px;
    border: 0;
}

.publication-section .media .panel-heading {
    height: 80px;
}

.publication-section .media .panel-heading {
    font-size: 50px;
    color: #fff;
    opacity: 1;
}

.publication-section .media .panel-body {
    padding: 0 15px;
}

.publication-section .media .media-body {
    padding-left: 10px;
    border-left: 1px solid #DBDBE0;
}

.publication-section .media .date {
    width: 80px;
}

.publication-section .media .date .day {
    font-weight: 200;
    display: block;
    text-align: center;
    line-height: 100%;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.82);
}

.publication-section .media .date .month {
    width: 100%;
    display: inline-block;
    color: rgba(255, 255, 255, 0.82);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 3px;
}

.publication-section .media .date .year {
    padding: 4px 10px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.13);
    font-weight: 300;
    color: rgba(255, 255, 255, 0.82);
}

.publication-section .media .publication_authors {
    float: right;
}

.publication-section #mygrid {
    position: relative;
    margin: 10px 0 0 0;
    overflow: hidden;
}

.publication-section #mygrid .publication_item {
    display: block;
    margin-bottom: 10px;
}

.publication-section .media .ex-link {
    width: 30px;
    height: 30px;
    line-height: 31px;
    padding: 0;
    text-align: center;
    border-left: 1px solid #DBDBE0;
    border-bottom: 1px solid #DBDBE0;
    font-size: 16px;
    top: 0;
    right: 0;
    display: block;
    color: rgba(120, 129, 149, 0.58);
    position: absolute;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.publication-section .media .ex-link:hover {
    background: #878e98;
    color: #2c3039
}

.publication-section .label,
.publication-detail .label {
    font-weight: 400;
    border-radius: 0;
    margin-right: 2px;
    padding: 3px 5px;
}

.publication-section .selected,
.publication-detail .selected {
    background: #2b303b;
}

.publication-detail {
    position: relative;
    background: #f1f2f5;
    width: auto;
    width: 500px;
    margin: 40px auto;
    padding: 10px;
}

.publication-detail p {
    font-size: 13px;
    text-align: justify;
    padding-bottom: 30px;
    line-height: 24px;
}

.publication-detail .publication_title {
    font-weight: 300;
    line-height: 21px;
    margin-bottom: 6px;
    font-size: 13px;
    font-family: Montserrat;
    text-transform: uppercase;
}

.publication-detail .publication_authors {
    display: inherit;
    margin: 3px 0;
}

.publication-detail .ext_link {
    width: 35px;
    height: 35px;
    line-height: 38px;
    margin: 0px 0px 0px 5px;
    padding: 0;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 16px;
    display: block;
    color: #fff;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.publication-detail .ext_link:hover {
    background: #fff;
}
/*--------------------------------------------------
---------------------- SERVICE ---------------------
---------------------------------------------------*/

.service-section .serv-wrap {
    position: relative;
    padding: 0 20px 20px;
    overflow: hidden;
    display: inline-block;
    height: 335px;
    width: 220px;
    text-align: center;
    box-sizing: border-box;
    transition: border 200ms ease;
    background: rgba(248, 249, 251, 0.6);
    border: 1px solid #DBDBE0;
    cursor: pointer;
}

.service-section .services-wrap {
    margin-top: 10px;
    text-align: center;
}

.service-section .serv-wrap .serv-icons {
    font-size: 79px;
    margin: 20px 0 auto;
    width: 130px;
    height: 130px;
    border: 1px solid;
    border-radius: 50%;
    line-height: 130px;
}

.service-section .serv-wrap h3 {
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: Montserrat;
    text-align: center;
}

.service-section .serv-wrap p {
    margin: 0 0 10px 0;
    font-size: 13px;
    line-height: 24px;
    text-align: justify;
    position: relative;
    color: #606777;
    display: inline-block;
}

.service-section .serv-wrap .slide {
    position: absolute;
    bottom: -450px;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 100%;
    text-align: left;
    background: rgba(43, 48, 59, 0.95);
    box-sizing: border-box;
    transition: all 300ms 0ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.service-section .serv-wrap .slide h4 {
    display: block;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-family: Montserrat;
    text-align: center;
}

.service-section .serv-wrap .slide ul {
    padding: 15px;
}

.service-section .serv-wrap .slide ul li {
    line-height: 24px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.3);
    list-style: none;
}

.service-section .serv-wrap .slide ul li:last-child {
    border: 0;
}

.service-section .serv-wrap .slide ul li .fa {
    padding-right: 5px;
}

.service-section .serv-wrap:hover {
    border: 1px solid #DBDBE0;
}

.service-section .serv-wrap:hover .slide {
    bottom: 0;
    cursor: pointer;
}

.service-section .animated {
    animation-duration: 500ms;
    animation-fill-mode: both;
    animation-delay: 1s;
}

@keyframes slideInDown {
    0% {
        -webkit-transform: translateY(-120%);
        -ms-transform: translateY(-120%);
        transform: translateY(-120%);
        visibility: visible;
    }
    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.service-section .slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
}

.service-section p.title {
    margin: 0 auto;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    height: 36px;
    width: 890px;
    background: #013d47;
    border: 1px solid #2ba74e;
    color: #FFF;
    text-align: center;
    border-radius: 5px;
}

@-moz-keyframes fadein {
    0% {
        opacity: .1;
        -moz-transform: translateY(5px);
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: .1;
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadein {
    0% {
        opacity: .1;
        -moz-transform: translateY(5px);
        -ms-transform: translateY(5px);
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.service-section .testimonials-container {
    position: relative;
    text-align: center;
    overflow: hidden;
    padding: 0 20px;
    margin: 10px 0;
    border: 1px solid #DBDBE0;
    background: rgba(248, 249, 251, 0.6);
    height: 250px;
}

.service-section .testimonials-container p {
    width: 75%;
    text-align: center;
    display: inline-block;
}

.service-section .testimonial {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.service-section .testimonial.current {
    opacity: 1;
    position: relative;
    z-index: initial;
    -moz-animation: fadein 0.7s ease;
    -webkit-animation: fadein 0.7s ease;
    animation: fadein 0.7s ease;
}

.service-section .prev-testimonial,
.service-section .next-testimonial {
    position: absolute;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    margin: 0 20px;
    width: 30px;
    top: 110px;
    text-indent: -9999px;
    cursor: pointer;
}

.service-section .prev-testimonial:focus,
.service-section .next-testimonial:focus {
    outline: none;
}

.service-section .prev-testimonial:before,
.service-section .next-testimonial:before {
    content: "";
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    top: 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.service-section .prev-testimonial {
    left: 0;
}

.service-section .prev-testimonial:before {
    left: 10px;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
}

.service-section .next-testimonial {
    right: 0;
}

.service-section .next-testimonial:before {
    right: 10px;
    border-top: solid 1px black;
    border-right: solid 1px black;
}

.service-section .testimonial__mug {
    width: 100px;
    height: 100px;
    margin: 16px auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.service-section .grey-out {
    opacity: .2;
}
/*--------------------------------------------------
--------------------- Teaching ---------------------
---------------------------------------------------*/

.teaching-section .teaching {
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
}

.teaching-section .teaching > li {
    position: relative;
    margin-bottom: 10px;
}

.teaching-section .teaching > li:before,
.teaching-section .teaching > li:after {
    display: table;
    content: " ";
}

.teaching-section .teaching > li:after {
    clear: both;
}

.teaching-section .teaching > li > .timeline-item {
    margin-top: 0px;
    background: rgba(248, 249, 251, 0.6);
    margin-left: 55px;
    padding: 10px;
    position: relative;
    border: 1px solid #DBDBE0;
}

.teaching-section .teaching > li > .timeline-item > .timeline-header {
    margin: 0;
    padding: 5px 0;
    font-size: 0.9em;
    color: #606777;
    font-family: Montserrat;
}

.teaching-section .teaching > li > .timeline-item > .timeline-header > a {
    font-weight: 400;
}

.teaching-section .teaching > li > .timeline-item > .timeline-body {
    padding: 2px 0px;
}

.teaching-section .teaching > li > .timeline-item > .timeline-body span {
    font-size: 13px;
    line-height: 24px;
    text-align: justify;
    position: relative;
    color: #606777;
    display: inline-block;
}

.teaching-section .teaching > li > .teaching-tag {
    width: 45px;
    height: 100%;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: rgba(255, 255, 255, 0.82);
    ;
    text-align: center;
    top: 0;
    padding: 8px;
}

.teaching-section .teaching > li > .teaching-tag .fa {
    height: 30px;
    width: 100%;
    line-height: 30px;
    background: rgba(0, 0, 0, 0.13);
}

.teaching-section .teaching .teaching-date {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.13);
}

.teaching-section .teaching .teaching-date span {
    width: 45px;
    display: block;
    font-size: 10px;
    height: 25px;
    line-height: 25px;
}

.teaching-section .teaching .teaching-date .separator {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.82);
    height: 0;
    margin: 0 auto;
    width: 25px;
}

.teaching-section .teaching h4 {
    margin-top: 0;
    margin-bottom: 9px;
    font-size: 10px;
}

.teaching-section .teaching-wrapper {
    position: relative;
}
/*--------------------------------------------------
----------------------- Skills ---------------------
---------------------------------------------------*/

.skills-section .skolls {
    margin-top: 0px;
    background: rgba(248, 249, 251, 0.6);
    ;
    padding: 10px;
    position: relative;
    border: 1px solid #DBDBE0;
    margin: 10px 0;
}

.skills-section .skill-description {
    margin: 0 0 10px 0;
    font-size: 13px;
    line-height: 24px;
    text-align: justify;
    position: relative;
    color: #606777;
    display: inline-block;
}

.bar-main-container {
    padding: 7px;
    color: #fff;
}

.skills-section .bar-percentage {
    background: rgba(0, 0, 0, 0.13);
    text-align: center;
    float: left;
    margin-right: 7px;
    font-size: 18px;
    font-weight: 300;
    height: 50px;
    width: 50px;
    line-height: 50px;
    color: rgba(255, 255, 255, 0.82);
}

.wrap {
    height: 50px;
}

.skills-section .bar-container {
    height: 2px;
    background: rgba(0, 0, 0, 0.13);
    margin: 7px 0px;
    overflow: hidden;
}

.skills-section .bar {
    float: left;
    background: rgba(255, 255, 255, 0.82);
    ;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.skills-section .skill-detail .fa {
    width: 20px !important;
}

.skills-section .skill-detail {
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.82);
    font-size: 11px;
}

.skills-section .label {
    float: left;
    margin: 2px 0 0 0;
    font-weight: 400;
    border-radius: 0;
    font-size: 10px;
    background: rgba(0, 0, 0, 0.13);
    color: rgba(255, 255, 255, 0.77);
    ;
    padding: 2px 5px;
    margin-right: 5px;
}
/*--------------------------------------------------
--------------------- Porfolio ---------------------
---------------------------------------------------*/

.works-section .portfolio {
    overflow: hidden;
    margin: 0;
    width: 100%;
    list-style: none;
    text-align: center;
}

.works-section .portfolio figure {
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    width: 220px;
    height: 220px;
    text-align: center;
    cursor: pointer;
    margin-bottom: -2px;
}

.works-section .portfolio figure img {
    position: relative;
    display: block;
    min-height: 100%;
    opacity: 0.8;
}

.works-section .portfolio figure figcaption {
    color: #fff;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.works-section .portfolio figure figcaption::before,
.works-section .portfolio figure figcaption::after {
    pointer-events: none;
}

.works-section .portfolio figure figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.works-section .portfolio figure h3 {
    font-weight: 300;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: Montserrat;
}

.works-section .portfolio figure h3,
.works-section .portfolio figure p {
    margin: 0;
    border: none;
}

.works-section .portfolio figure p {
    font-size: 68.5%;
}

.works-section .portfolio figure span {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.works-section .portfolio figure .label {
    border-radius: 0;
    font-weight: 300;
    padding: 2px 5px;
    text-transform: uppercase;
    font-family: Montserrat;
    font-size: 13px;
}

.works-section .portfolio figure .label-danger {
    background: #ec971f;
}

.works-section .portfolio figure .label-primary {
    background: #d2322d;
}

.work_desc {
    position: relative;
    background: #f1f2f5;
    width: auto;
    width: 90%;
    margin: 20px auto;
}

.work_desc .image_work {
    padding: 20px;
}

.work_desc .image_work img {
    width: 100%;
}

.work_desc .project_content {
    padding: 20px 40px 20px 20px;
    ;
}

.work_desc .project_content .project_title {
    font-weight: 300;
    line-height: 21px;
    margin-bottom: 6px;
    font-size: 18px;
    font-family: Montserrat;
    text-transform: uppercase
}

.work_desc .project_content .project_desc {
    font-size: 13px;
    line-height: 24px;
    text-align: justify;
    position: relative;
}

.work_desc .ext_link {
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin: 0px 0px 0px 5px;
    padding: 0;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 17px;
    display: block;
    color: #fff;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.work_desc .ext_link:hover {
    background-color: #fff;
}

.work_desc .col-md-6 {
    padding-left: 0;
    padding-right: 0;
}

.works-section figure.effect-milo {
    background: #000;
}

.works-section figure.effect-milo img {
    width: -webkit-calc(100% + 60px);
    width: calc(100% + 60px);
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-30px, 0, 0) scale(1.12);
    transform: translate3d(-30px, 0, 0) scale(1.12);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.works-section figure.effect-milo:hover img {
    opacity: 0.4;
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}

.works-section figure.effect-milo .work_title {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1em 1.2em;
}

.works-section figure.effect-milo h5 {
    margin: 0;
}

.works-section figure.effect-milo .portfolio_button {
    padding: 60px 0 0 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-40px, 0, 0);
    transform: translate3d(-40px, 0, 0);
}

.works-section figure.effect-milo:hover .portfolio_button {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.works-section .mfp-zoom-out .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(1.3);
}

.works-section .mfp-zoom-out.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.works-section .mfp-zoom-out.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: scale(1);
}

.works-section .mfp-zoom-out.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.works-section .mfp-zoom-out.mfp-removing .mfp-with-anim {
    transform: scale(1.3);
    opacity: 0;
}

.works-section .mfp-zoom-out.mfp-removing.mfp-bg {
    opacity: 0;
}

.works-section .portfolio_button {
    display: block;
    text-align: center;
    margin: auto;
}

.works-section .hovicon {
    display: inline-block;
    font-size: 15px;
    line-height: 50px;
    cursor: pointer;
    margin: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: #fff;
}

.works-section .hovicon.small {
    font-size: 20px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    margin: 7px;
}

.works-section .hovicon.mini {
    font-size: 15px;
    line-height: 32px;
    width: 30px;
    height: 30px;
    margin: 7px;
}

.works-section .hovicon.auto-width {
    width: auto;
    height: auto;
    padding: 15px;
}

.works-section .hovicon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.works-section .hovicon.effect-9 {
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

.works-section .hovicon.effect-9:after {
    top: 0;
    left: 0;
    padding: 0;
    box-shadow: 0 0 0 1px #fff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}

.works-section .hovicon.effect-9.sub-b:hover:after {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
}

.works-section .hovicon.effect-9.sub-b:hover {
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.4);
    color: #fff;
}

.works-section .hovicon.effect-9.sub-b:hover i {
    color: #fff;
}
/*--------------------------------------------------
---------------------- Contact ---------------------
---------------------------------------------------*/

.contact-section #contact_form input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #878e98;
    font-family: 'Montserrat', Calibri, Arial, sans-serif !important;
    font-size: 11px;
}

.contact-section #contact_form input:focus::-webkit-input-placeholder,
#contact_form textarea:focus::-webkit-input-placeholder {
    color: #878e98;
    font-family: 'Montserrat', Calibri, Arial, sans-serif !important;
    font-size: 11px;
}

.contact-section #contact_form input::-moz-placeholder,
#contact_form textarea::-moz-placeholder {
    color: #878e98;
    font-family: 'Montserrat', Calibri, Arial, sans-serif !important;
    font-size: 11px;
}

.contact-section #contact_form input:focus::-moz-placeholder,
#contact_form textarea:focus::-moz-placeholder {
    color: #878e98;
    font-family: 'Montserrat', Calibri, Arial, sans-serif !important;
    font-size: 11px;
}

.contact-section #contact_form input::placeholder,
#contact_form textarea::placeholder {
    color: #878e98;
    font-family: 'Montserrat', Calibri, Arial, sans-serif !important;
    font-size: 11px;
}

.contact-section #contact_form input:focus::placeholder,
#contact_form textarea::focus:placeholder {
    color: #878e98;
    font-family: 'Montserrat', Calibri, Arial, sans-serif !important;
    font-size: 11px;
}

.contact-section #contact_form input::-ms-placeholder,
#contact_form textarea::-ms-placeholder {
    color: #878e98;
    font-family: 'Montserrat', Calibri, Arial, sans-serif !important;
    font-size: 11px;
}

.contact-section #contact_form input:focus::-ms-placeholder,
#contact_form textarea:focus::-ms-placeholder {
    color: #878e98;
    font-family: 'Montserrat', Calibri, Arial, sans-serif !important;
    font-size: 11px;
}

.contact-section #contact_form {
    width: auto;
    margin-bottom: 50px;
    padding: 0;
    text-align: center;
}

.contact-section #contact_form input {
    width: 100%;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: #f1f2f5;
    outline: none;
    font-weight: 300;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    background: rgba(248, 249, 251, 0.6);
    border: 1px solid #DBDBE0;
    font-family: Montserrat !important;
}

.contact-section #contact_form textarea {
    width: 100%;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: #f1f2f5;
    font-weight: 300;
    outline: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    background: rgba(248, 249, 251, 0.6);
    border: 1px solid #DBDBE0;
    font-family: Montserrat !important;
}

.contact-section #contact_form .submit_btn {
    height: 40px;
    width: 150px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    font-family: Montserrat;
    line-height: 38px;
    font-size: 11px;
    cursor: pointer;
    border: 1px solid rgba(120, 129, 149, 0.33);
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.contact-section .contact_info {
    text-align: center;
}

.contact-section .contact_info h3 {
    font-size: 22px;
    font-weight: 200;
    text-align: center;
    border: none;
    margin: 0;
    font-family: Montserrat;
    text-transform: uppercase;
}

.contact-section .contact_info hr {
    margin: 20px auto;
    background: #DBDEE6;
    height: 1px;
    border: 0px;
    width: 125px;
}

.contact-section fieldset {
    border: none;
}

.contact-section .success {
    background: #CFFFF5;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #B9ECCE;
    font-weight: normal;
}

.contact-section .error {
    background: #FFDFDF;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #FFCACA;
    font-weight: normal;
}

.contact-section h5 {
    margin: 0;
    font-size: 13px;
    font-weight: 200;
    font-family: Montserrat;
    text-transform: uppercase;
}

.contact-section h6 {
    margin-top: 10px;
    font-size: 13px;
    font-weight: 300;
}
/*--------------------------------------------------
------------------ Page preloader ------------------
---------------------------------------------------*/

#page-loader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999 !important;
    width: 100%;
    height: 100%;
    background-color: #2b303b;
}

#page-loader #demo-canvas {
    position: absolute;
    z-index: 1;
    width: 100%;
    opacity: .5;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-perspective: 12rem;
    -moz-perspective: 12rem;
    -ms-perspective: 12rem;
    -o-perspective: 12rem;
    perspective: 12rem;
    z-index: 2000;
    position: fixed;
    height: 6rem;
    width: 6rem;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pace.pace-inactive .pace-progress {
    display: none;
}

.pace .pace-progress {
    position: fixed;
    z-index: 2000;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 6rem;
    width: 6rem !important;
    line-height: 6rem;
    font-size: 2rem;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 200;
    font-size: 23px;
    text-align: center;
    -webkit-animation: pulse 1s ease infinite;
    animation: pulse 1s ease infinite;
}

.pace .pace-progress:after {
    content: attr(data-progress-text);
    display: block;
}
/*--------------------------------------------------
-------------------- Jscrollpane  ------------------
---------------------------------------------------*/

.jspContainer {
    overflow: hidden;
    position: relative;
}

.jspPane {
    position: absolute;
}

.jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0px;
    width: 3px;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

aside .jspVerticalBar {
    position: absolute;
    top: 0;
    right: 2px;
    width: 4px;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.jspHorizontalBar {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
    height: 7px;
    background: transparent;
}

.jspVerticalBar *,
.jspHorizontalBar * {
    margin: 0;
    padding: 0;
}

.jspCap {
    display: none;
}

.jspHorizontalBar .jspCap {
    float: left;
}

.jspTrack {
    position: relative;
}

.jspDrag {
    background: rgba(105, 118, 134, 0.27);
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
    float: left;
    height: 100%;
}

.jspArrow {
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
}

.jspArrow.jspDisabled {
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow {
    height: 16px;
}

.jspHorizontalBar .jspArrow {
    width: 16px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus {
    outline: none;
}

.jspCorner {
    background: #eeeef4;
    float: left;
    height: 100%;
}
/* Yuk! CSS Hack for IE6 3 pixel bug :( */

* html .jspCorner {
    margin: 0 -3px 0 0;
}
/*--------------------------------------------------
--------------- Magnific Popup CSS  ----------------
---------------------------------------------------*/
/*  */

.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #0b0b0b;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}

.mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mfp-container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
    display: none;
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}

.mfp-ajax-cur {
    cursor: progress;
}

.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -moz-zoom-out;
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}

.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
    cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.mfp-loading.mfp-figure {
    display: none;
}

.mfp-hide {
    display: none !important;
}

.mfp-preloader {
    color: #cccccc;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044;
}

.mfp-preloader a {
    color: #cccccc;
}

.mfp-preloader a:hover {
    color: white;
}

.mfp-s-ready .mfp-preloader {
    display: none;
}

.mfp-s-error .mfp-content {
    display: none;
}

button.mfp-close,
button.mfp-arrow {
    overflow: visible;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
    display: block;
    outline: none;
    padding: 0;
    z-index: 1046;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.mfp-close {
    width: 44px;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    opacity: 0.65;
    filter: alpha(opacity=65);
    padding: 0 0 18px 10px;
    color: white;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
}

.mfp-close:hover,
.mfp-close:focus {
    opacity: 1;
    filter: alpha(opacity=100);
}

.mfp-close:active {
    top: 1px;
}

.mfp-close-btn-in .mfp-close {
    color: #333333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
    color: white;
    right: -6px;
    text-align: right;
    padding-right: 6px;
    width: 100%;
}

.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #cccccc;
    font-size: 12px;
    line-height: 18px;
}

.mfp-arrow {
    position: absolute;
    opacity: 0.65;
    filter: alpha(opacity=65);
    margin: 0;
    top: 50%;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mfp-arrow:active {
    margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100);
}

.mfp-arrow:before,
.mfp-arrow:after,
.mfp-arrow .mfp-b,
.mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent;
}

.mfp-arrow:after,
.mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px;
}

.mfp-arrow:before,
.mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7;
}

.mfp-arrow-left {
    left: 0;
}

.mfp-arrow-left:after,
.mfp-arrow-left .mfp-a {
    border-right: 17px solid white;
    margin-left: 31px;
}

.mfp-arrow-left:before,
.mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3f3f3f;
}

.mfp-arrow-right {
    right: 0;
}

.mfp-arrow-right:after,
.mfp-arrow-right .mfp-a {
    border-left: 17px solid white;
    margin-left: 39px;
}

.mfp-arrow-right:before,
.mfp-arrow-right .mfp-b {
    border-left: 27px solid #3f3f3f;
}

.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
    top: -40px;
}

.mfp-iframe-scaler {
    width: 100%;
    height: 0;
    overflow: hidden;
    padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: black;
}
/* Main image in popup */

img.mfp-img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    line-height: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto;
}
/* The shadow behind the image */

.mfp-figure {
    line-height: 0;
}

.mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444444;
}

.mfp-figure small {
    color: #bdbdbd;
    display: block;
    font-size: 12px;
    line-height: 14px;
}

.mfp-figure figure {
    margin: 0;
}

.mfp-bottom-bar {
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto;
}

.mfp-title {
    text-align: left;
    line-height: 18px;
    color: #f3f3f3;
    word-wrap: break-word;
    padding-right: 36px;
}

.mfp-image-holder .mfp-content {
    max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape),
screen and (max-height: 300px) {
    /**
       * Remove all paddings around the image on small screen
       */
    
    .mfp-img-mobile .mfp-image-holder {
        padding-left: 0;
        padding-right: 0;
    }
    .mfp-img-mobile img.mfp-img {
        padding: 0;
    }
    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0;
    }
    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px;
    }
    .mfp-img-mobile .mfp-bottom-bar {
        background: rgba(0, 0, 0, 0.6);
        bottom: 0;
        margin: 0;
        top: auto;
        padding: 3px 5px;
        position: fixed;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0;
    }
    .mfp-img-mobile .mfp-counter {
        right: 5px;
        top: 3px;
    }
    .mfp-img-mobile .mfp-close {
        top: 0;
        right: 0;
        width: 35px;
        height: 35px;
        line-height: 35px;
        background: rgba(0, 0, 0, 0.6);
        position: fixed;
        text-align: center;
        padding: 0;
    }
}

@media all and (max-width: 900px) {
    .mfp-arrow {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        transform-origin: 0;
    }
    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        transform-origin: 100%;
    }
    .mfp-container {
        padding-left: 6px;
        padding-right: 6px;
    }
}

.mfp-ie7 .mfp-img {
    padding: 0;
}

.mfp-ie7 .mfp-bottom-bar {
    width: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: 5px;
    padding-bottom: 5px;
}

.mfp-ie7 .mfp-container {
    padding: 0;
}

.mfp-ie7 .mfp-content {
    padding-top: 44px;
}

.mfp-ie7 .mfp-close {
    top: 0;
    right: 0;
    padding-top: 0;
}

.mfp-zoom-out {
    /* start state */
    /* animate in */
    /* animate out */
}

.mfp-zoom-out .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: scale(1.3);
}

.mfp-zoom-out.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.mfp-zoom-out.mfp-ready .mfp-with-anim {
    opacity: 1;
    transform: scale(1);
}

.mfp-zoom-out.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-zoom-out.mfp-removing .mfp-with-anim {
    transform: scale(1.3);
    opacity: 0;
}

.mfp-zoom-out.mfp-removing.mfp-bg {
    opacity: 0;
}
/*--------------------------------------------------
------------------ Media Queries  ------------------
---------------------------------------------------*/

@media screen and (max-width: 1024px) {
    .jspVerticalBar {
        opacity: 1;
    }
    .hs-content-scroller {
        overflow-x: scroll;
    }
}

@media screen and (max-width: 755px) {
    body {
        overflow-x: auto;
        overflow-y: auto;
    }
    a.hs-totop-link {
        display: none;
    }
    .hs-content {
        -moz-box-shadow: 0 5px 9px -3px rgba(0, 0, 0, 0.24);
        -webkit-box-shadow: 0 5px 9px -3px rgba(0, 0, 0, 0.24);
        box-shadow: 0 5px 9px -3px rgba(0, 0, 0, 0.24);
    }
    .hs-menu {
        position: relative;
        width: 100%;
        height: 320px;
        left: 0;
    }
    .hs-headline {
        padding: 25px 0 0 0;
    }
    .hs-headline .download {
        color: #fff;
        display: inline-block;
        height: 40px;
        width: 40px;
        line-height: 40px;
        font-size: 21px;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    #my-panel .jspContainer {
        overflow: visible;
    }
    #my-panel a {
        display: block;
        width: 50px;
        height: 50px;
        color: #788195;
        text-align: center;
        line-height: 50px;
        border-bottom: 1px solid #606777;
        font-size: 21px;
    }
    #my-panel .menu_name {
        display: none;
    }
    #my-link {
        display: inline-block;
        position: fixed;
        right: 10px;
        top: 10px;
        width: 40px;
        font-size: 21px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #fff;
    }
    #header_container {
        display: none;
    }
    .aside1 {
        display: none;
    }
    .hs-content-scroller {
        position: relative;
        height: auto;
        left: 0;
    }
    .hs-content-wrapper {
        height: auto;
        width: auto;
        margin-left: 0px;
    }
    .hs-content {
        border: none;
        margin: 20px 20px 20px 20px;
    }
    .hs-content,
    .hs-content:first-child {
        width: auto;
        float: none;
        overflow-y: auto;
    }
    .hs-content .sec-icon-resp {
        font-size: 21px;
        width: 40px;
        display: inline-block;
        height: 40px;
        line-height: 36px;
        text-align: center;
        background: #414A5E;
        color: #C4CDE0;
        position: relative;
        left: -15px;
        float: right;
    }
    .publication-section .card-drop {
        margin-bottom: 10px;
    }
    .publication-section .media .publication_authors {
        width: 100%;
        margin-top: 5px;
    }
    .publication-detail {
        width: 90%;
    }
    .research-section .research-date-label {
        display: none;
    }
    .skills-section .skill-detail {
        display: inline-block;
        font-size: 9px;
    }
    .skills-section .bar-percentage {
        height: 70px;
        width: 70px;
        line-height: 70px;
    }
    .wrap {
        height: auto;
    }
}

@media screen and (max-width: 450px) {
    .resume-section .resume > li > .timeline-item > .timeline-location {
        float: none;
        padding-left: 0;
    }
    #research_wrapper h3 {
        font-size: 13px;
    }
    #research_wrapper .expand span {
        font-size: 11px;
    }
    .skills-section .bar-percentage {
        width: 100%;
        margin-bottom: 5px;
    }
    .publication-section .media .date {
        width: 100%;
        margin-bottom: 10px;
    }
    .publication-section .media .media-body {
        padding-left: 2px;
        border-left: none;
    }
    .publication-section .media .ex-link {
        background: rgba(248, 249, 251, 0.8);
    }
    .research-section .slide-date {
        font-size: 10px;
    }
    .tabs-left .nav-tabs > li > a {
        min-width: 53px;
    }
    .tabs-left > .nav-tabs > li > a {
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 5px;
        font-size: 9px;
    }
}

